/*this is my stylesheet for the homepage */


/* main body style */
/* header styles */
/* header styles */
/* main body styles */
/* footer styles */

h1,h6 {font-family: cursive;}

nav{}
  header h1 {color:#BF7A87; background-color: #8C5156;}
  footer {}
    nav{}
      footer{}











*{outline: 1px solid red;}
